<!DOCTYPE HTML>

 <!-- TODO  -->
<!-- Adicionar um retorno via JS -->

<html>
	<head>
		<title>Paper Board Studios</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="dist/css/gallery/gallery.css" />
		<!-- <noscript  rel="javascript" href="dist/css/gallery/noscript.css " type="text/css"/></noscript> -->
	</head>
	<body class="is-preload-0 is-preload-1 is-preload-2">
		<!-- Main -->
			<div id="main">
				<!-- Header -->
					<header id="header">
						<a href="/us" class="icon brands fa-home"><span class="label">Return</span></a>
						<h1>Our works</h1>
						<p>Collection of all the our projects.</a></p>
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"></a></li>
							<li><a href="#" class="icon brands fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
					</header>

				<!-- Thumbnail -->
					<section id="thumbnails">
						<article>
							<a class="thumbnail" href="images/Tarium/Concept_goblin.png" data-position="left center"><img src="images/Tarium/Wallpaper of Tarium - Copia.jpeg" alt="" /></a>
							<h2>Tarium Chronicles</h2>
							<a>Get it:</a>
						</article>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Paper Board Studios - 2020</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="dist/js/jquery/jquery.min.js"></script>
			<script src="dist/js/jquery/browser.min.js"></script>
			<script src="dist/js/jquery/breakpoints.min.js"></script>
			<script src="dist/js/gallery/gallery.min.js"></script>
			<script src="https://kit.fontawesome.com/b312f2f373.js" crossorigin="anonymous"></script>
	</body>
</html>