<!DOCTYPE HTML>
<html>
	<head>
		<title>Paper Board Studios</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="Paper Board Studios é um estúdio de desenvolvimento de jogos indie brasileiro.">
		<meta name="keywords" content="Unity Game Development Indie Tarium C# ">
		<meta name="author" content="Arthur Santos Leandro">
		<link rel="icon" href="images/Tarium/PaperBoardStudios.png" type="image/x-icon" />
		<link rel="stylesheet" href="dist/css/navbar/navbar.css" type="text/css"/>
		<link rel="stylesheet" href="dist/css/home/home.css" type="text/css" />
		<noscript><link rel="stylesheet" href="dist/css/home/noscript.css" type="text/css"/></noscript>
		
	</head>

	<body class="homepage is-preload">
		<div id="page-wrapper">
			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="currentNav"><a href="">Home</a></li>
					<li>
						<a href="#">Línguas</a>
						<ul>
							<li><a href="">PT-BR</a></li>
							<li><a href="/us">EN-US</a></li>
							<!-- <li> NESTED DROPDOWN INFO
											<a href="#">Phasellus consequat</a>
											<ul>
												<li><a href="#">Lorem ipsum dolor</a></li>
												<li><a href="#">Phasellus consequat</a></li>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam dolore nisl</a></li>
											</ul>
										</li> -->
						</ul>
					</li>
					<li><a href="gallery">Nossos Trabalhos</a></li>
					<li><a href="despertar-das-cinzas">Título em Desenvolvimento</a></li>
					<!-- <li><a href="no-sidebar">No Sidebar</a></li> -->
				</ul>
			</nav>
			
			<!-- Banner -->
			<section id="banner">
				<div class="content">
					<header>
						<h2>Paper Board Studios</h2>
						<p>
							Mais que jogos, experiências.
						</p>
					</header>
					<!-- <span class="image"><img src="images/Tarium/PaperBoardStudios.png" alt="" /></span> -->
				</div>
				<a href="#one" class="goto-next scrolly">Next</a>
			</section>

			<!-- One -->
			<section id="one" class="spotlight style1 bottom">
				<span class="image fit main"><img src="images/Tarium/Ideia para vila.png" alt="images/home/banner.jpg" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">
								<header>
									<h2>Sobre Nós</h2>
									<p>Quanto maior a dificuldade maior a recompensa.</p>
								</header>
							</div>
							<div class="col-4 col-12-medium">
								<p>
									Fazemos jogos <b>Por quê</b> (motivo). Queremos transformar nos jogadores <b>Como</b> (algo). Fazendo jogos.
								</p>
							</div>
							<div class="col-4 col-12-medium">
								<p>
									Valores
								</p>
							</div>
						</div>
					</div>
				</div>
				<a href="#two" class="goto-next scrolly">Next</a>
			</section>

			<!-- Two -->
			<section id="two" class="spotlight style2 right">
				<span class="image fit main"><img src="images/Tarium/Wallpaper of Tarium.jpeg" alt="images/Tarium/Concept_goblin.png"/></span>
				<div class="content">
					<header>
						<h2>As Crônicas de Tarium</h2>
						<p>Despertar das Cinzas</p>
					</header>
					<p>
						Crônicas de Tarium é o Título que estamos desenvolvendo atualmente. 
						É um RPG tático de turno muito semelhante aos RPG's analógicos.
					</p>
					<ul class="actions">
						<li><a href="despertar-das-cinzas" class="button">Saiba Mais</a></li>
					</ul>
				</div>
				<a href="#three" class="goto-next scrolly">Next</a>
			</section>

			<!-- Three -->
			<section id="three" class="spotlight style3 left">
				<span class="image fit main bottom"><img src="images/Tarium/Ideia para vila.png"	 alt="images/Tarium/Concept_goblin.png" /></span>
				<div class="content">
					<header>
						<h2>Nossos Projetos</h2>
						<p>
							Aqui estão alguns de nossos projetos.
						</p>
					</header>
					<p>
						Jogos que desenvolvemos com o decorrer do tempo.
					</p>
					<ul class="actions">
						<li><a href="gallery" class="button">Acessar</a></li>
					</ul>
				</div>
				<a href="#four" class="goto-next scrolly">Next</a>
			</section>

			<!-- Four -->
			<section id="four" class="wrapper style1 special fade-up">
				<div class="container">
					<header class="major">
						<h2>Plataformas</h2>
						<p>Desenvolvemos para as seguintes plataformas</p>
					</header>
					<div class="box alt">
						<div class="row gtr-uniform">
							<section class="col-4 col-6-medium col-12-xsmall">
								<span class="icon solid alt major fa-desktop"></span>
								<h3>PC</h3>
								<p>Windows & Linux.</p>
							</section>
							<section class="col-4 col-6-medium col-12-xsmall">
								<span class="icon solid alt major fa-mobile"></span>
								<h3>Mobile</h3>
								<p>Android & Mac.</p>
							</section>						
						</div>
					</div>
					<br><br><a href="#five" class="goto-next scrolly">Next</a>
				</div>
				
			</section>

			<!-- Five -->
			<section id="five" class="wrapper style2 special fade">
				<div class="container">
					<header>
						<h2>Quer receber novidades do desenvolvimento de nossos produtos?</h2>
						<p>Assine nossa newsletter. Prometemos não enviar spam.</p>
					</header>
					<form method="post" action="#" class="cta">
						<div class="row gtr-uniform gtr-50">
							<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email"
									placeholder="Seu email" />
							</div>
							<div class="col-4 col-12-xsmall"><input type="submit" value="Assinar" class="fit primary" /></div>
						</div>
					</form>
				</div>
			</section>

			<!-- Footer -->
			<footer id="footer">
				Entre em contato através de nossas redes sociais.
				<ul class="icons">
					<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
				</ul>
				<ul class="copyright">
					<li> &copy;  Paper Board Studios - 2020</a></li>
				</ul>
			</footer>
		</div>

		<!-- Scripts -->
		<script src="dist/js/jquery/jquery.min.js"></script>
		<script src="dist/js/jquery/jquery.dropotron.min.js"></script>
		<script src="dist/js/jquery/jquery.scrolly.min.js"></script>
		<script src="dist/js/jquery/jquery.scrollex.min.js"></script>
		<script src="dist/js/jquery/browser.min.js"></script>
		<script src="dist/js/jquery/breakpoints.min.js"></script>
		<script src="dist/js/jquery/util.js"></script>
		<script src="dist/js/navbar/navbar.min.js"></script>
		<script src="dist/js/home/home.min.js"></script>
		<script src="https://kit.fontawesome.com/b312f2f373.js" crossorigin="anonymous"></script>
	</body>

</html>